<%- include('partials/header')  %> 
    <h2>Delete a Book</h2>
    
      <% books.forEach(element => { %>
        <div class="card"> 
          <p>Title: <%= element.title %> </p>
          <p> Author: <%= element.author %> </p>
          <p>ISBN: <%= element.isbn %> </p>
      </div>
        <% }) %> 

<%-include('partials/footer')  %> 